html,body{
    font-family: Arial, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 20px;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    padding: 15px 14px;
    box-sizing: border-box;
}
input[type=button]{
    font-family: inherit;
    color: black;
    background-color: yellow;
    border-radius: 5px;
    border: none;
    padding: 8px 18px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: 0.6s;
}
input[type=button]:hover{
    background-color: rgb(199, 199, 2);
}
#logo{    
    font-size: 32px;
    font-weight: 600;
}
header a{
    color: inherit;
    text-decoration: none;
    margin: 0 8px;
    transition: 0.3s;
}
header a:hover{
    color: yellow;
}
section, footer{
    padding: 0 8%;
    margin: 20px 0;
}

h1{
    font-size: 72px;
    margin: 0;
}

#hero{
    height: 100vh;
    background: url("./src/bg.jpg") center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 8%;
    
}
#hero p{
    font-size: 20px;
}


#cards{    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.card{
    border: 0.5px gray solid;
    border-radius: 10px;
    padding: 14px 10px;
    width: 270px;
    display: flex;
    gap: 10px;
}
.card p{
    font-weight: 600;
    font-size: 24px;
    margin: 5px 0;
}
.card svg{
    width: 50px;
    height: 50px;
}

#brands{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}
.brandCard{
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 2px;
}
.brandCard p{
    font-size: 20px;
    font-weight: 600;
}
.brandCard img{
    width: 110px;
    height: 110px;
    object-fit: contain;
}

#about{
    display: flex;
    flex-direction: row-reverse;
}
#about h2{
    font-size: 42px;
}
#about img{
    height: 100%;
    width: 700px;
    object-fit: contain;
}

footer{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    gap:50px;
}
footer iframe{
    height: 300px;
    width: 300px;
}
footer a{
    color: yellow;
    cursor: pointer;
    text-decoration: none;
}
#copyrights{
    text-align: end;
}
#contact{
    min-width: 420px;
}

@media only screen and (max-width: 1024px) {
  #about img{
    display: none;
  }
  footer {
    flex-direction: column;
  }
  #copyrights{
    text-align: start;
  }
}
@media only screen and (max-width: 858px) {
    #cards{
        flex-wrap: wrap;
    }
    header div{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #brands{
        flex-wrap: wrap;
    }
    header{
        flex-direction: column;
    }
    header div, header input{
        display: none;
        
    }
    #contact{
        min-width: 220px;
    }
}

@media only screen and (max-width: 320px) {
    #hero h1{
        font-size: 62px;
    }
    footer iframe{
        width: 250px;
        height: 250px;
    }
    footer{
        align-items: center;
    }
}