#hero {
    height: 100vh;
    background: url("./src/bg.webp") center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    color: var(--color-text-light);
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 8%;
}

#hero p {
    font-size: 20px;
}

/* Cards */

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    border: 0.5px var(--color-border) solid;
    border-radius: 10px;
    padding: 14px 10px;
    width: 270px;
    display: flex;
    gap: 10px;
}

.card p {
    font-weight: 600;
    font-size: 24px;
    margin: 5px 0;
}

.card svg {
    width: 50px;
    height: 50px;
}

/* Brands */

#brands {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.brandCard {
    text-align: center;
    background-color: var(--color-brand-bg);
    border-radius: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.brandCard figcaption {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.brandCard img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

/* About */

#about {
    display: flex;
    flex-direction: row-reverse;
}

#about h2 {
    font-size: 42px;
}

#about img {
    height: 100%;
    width: 700px;
    object-fit: contain;
    transition: 0.3s;
}


/* Media Queries */
@media only screen and (max-width: 1330px) {
    #about img {
        width: 400px;
    }
}
@media only screen and (max-width: 1024px) {
    #about img {
        display: none;
    }    
    #brands {
        flex-wrap: wrap;
    }
    #brands figure{
        width: 200px;
    }
    #cards {
        flex-wrap: wrap;
    }    
}

@media only screen and (max-width: 320px) {
    #hero h1 {
        font-size: 62px;
    }
}
